<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="code.js"></script>

<!-- Note: No real addresses and phone numbers were used here. They all came from fakenamegenerator.com.-->
<br><br><br>
<h1 id="locator" style="padding-left: 70%">Andrea Munari</h1>
<h1 style="padding-left: 70%">About</h1>
<main>
    <div class="cards">
        <h1>Progetti</h1>
        <a class="stack" href="https://www.bookbase.altervista.org">
            <div class="card card-bb top">
                <div class="contents">
                    <h2><strong>Bookbase</strong>.altervista.org</h2>
                    <h3>Progetto maturità</h3>Never forget a book again!<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card card-bb top">
                <div class="contents">
                    <h2><strong>Bookbase</strong>.altervista.org</h2>
                    <h3>Progetto maturità</h3>Never forget a book again!<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card card-bb top">
                <div class="contents">
                    <h2><strong>Bookbase</strong>.altervista.org</h2>
                    <h3>Progetto maturità</h3>Never forget a book again!<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card card-bb top">
                <div class="contents">
                    <h2><strong>Bookbase</strong>.altervista.org</h2>
                    <h3>Progetto maturità</h3>Never forget a book again!<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="https://mrnet.altervista.org/it_it/">
            <div class="card card-mrnet top">
                <div class="contents">
                    <h2><strong>MrNet</strong>.altervista.org</h2>
                    <h3>Assistenza acquisti</h3>Offerta libera<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card card-mrnet top">
                <div class="contents">
                    <h2><strong>MrNet</strong>.altervista.org</h2>
                    <h3>Assistenza acquisti</h3>Offerta libera<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
           <div class="card card-mrnet top">
                <div class="contents">
                    <h2><strong>MrNet</strong>.altervista.org</h2>
                    <h3>Assistenza acquisti</h3>Offerta libera<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card card-mrnet top">
                <div class="contents">
                    <h2><strong>MrNet</strong>.altervista.org</h2>
                    <h3>Assistenza acquisti</h3>Offerta libera<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Ann Thrax</h3>Project Manager<br/><br/><span>✉️</span>annthrax@example.com<br/><span>📞</span>808-293-4613<br/><br/>3801 Stratford Drive<br/>Laie, HI 96762</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Laie, HI 96762</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Clint Westwood</h3>Customer Support<br/><br/><span>✉️</span>clintwestwood@example.com<br/><span>📞</span>865-217-3165<br/><br/>2212 Brown Avenue<br/>Hartford, TN 37753</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Hartford, TN 37753</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Joe Schmoe</h3>Graphic Designer<br/><br/><span>✉️</span>joeschmoe@example.com<br/><span>📞</span>407-712-8549<br/><br/>469 Grand Avenue<br/>Winter Park, FL 32789</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Winter Park, FL 32789</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
        <a class="stack" href="#">
            <div class="card top">
                <div class="contents">
                    <h2><strong>ABC</strong>Design</h2>
                    <h3>Don Joel</h3>Web Developer<br/><br/><span>✉️</span>donjoel@example.com<br/><span>📞</span>216-362-0665<br/><br/>2699 Glenwood Avenue<br/>Brook Park, OH 44142</div>
            </div>
            <div class="card mid-top">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card mid-bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card bottom">
                <div class="contents">
                    <div class="city">Brook Park, OH 44142</div>
                </div>
            </div>
            <div class="card shadow"></div>
        </a>
    </div>
</main>